@charset "UTF-8";
/* 구글 폰트 가져오기*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');

/* 마이페이지 - 메인 */ 
div.myContent-main{
	padding:10px 20px;
	margin:50px auto;
	padding:10px 20px;
	width:950px;
	border-radius:7px;
}

/* myPage-first */
div.mypage-first{
	float:left; width:280px;
	height:500px;
	position:absolute;
	/*border:1px solid red;*/
}
div.mypage-first ul{
	line-height:30px;
}
div.mypage-profile{
	padding:10px 0 0 0;
}
div.mypage-menu{
	padding:10px 0 0 0;
}
div.mypage-first .my-photo, .my-photo2{
	object-fit:cover; object-position:top;
	border-radius:50%;
	box-shadow:rgba(75, 113, 222, 0.9) 0px 5px 15px 0px;
	margin:0 0 30px 0;
}
/* myPage-second */
div.mypage-simple ul li.second_title{
	text-align:center;
}
li.profile-image{
	padding:5px 0 0 200px;
	margin:30px 0 10px 0;
}
li.profile-button{
	padding:0 0 0 150px;
	margin-bottom:10px;
}
div.mypage-second{
	float:right; width:65%;
	height:700px;
	position:relative;
	/*border:1px solid red;*/
}
div.mypage-like{
	padding:20px 0;
	font-size:18px;
	text-align:center;
	height:100px;
	box-shadow:rgba(75, 113, 222, 0.5) 0px 5px 15px 0px;
}
div.mypage-simple{
	padding:50px 0;
	line-height:35px;
	font-size:16px;
	height:600px;
	box-shadow:rgba(75, 113, 222, 0.5) 0px 5px 15px 0px;
}
.my-photo, .my-photo2{
	object-fit:cover; object-position:top;
	border-radius:50%;
	box-shadow:rgba(75, 113, 222, 0.9) 0px 5px 15px 0px;
}
div.mypage-simple li{
	line-height:40px;
}
div.mypage-simple ul li span#second_title h2{
	text-align:center;
}
ul li label{
	display:inline-block;
	width:110px;
	padding:0 0 0 110px;
}
li.detail-li{
	padding:20px 0 0 100px;
}
input.detail-lookup{
	width:150px;
}

/* 로그인 */

div.login-main{
	border-radius:7px;
	height:500px;
	box-shadow:rgba(173, 180, 189, 0.9) 0px 5px 15px 0px;
}
/*
div.login-main h2{
	padding:110px 0 30px 440px;
}
#login_form ul li label{
	padding:0 0 20px 250px;
	height:35px; 
}
*/
.login-input input{
    appearance: none;
    border-radius: 0;
    border: 0;
    outline: none;
    font-size: 10px;
}
.login-input input::placeholder, textarea::placeholder{
  color: #d9d9d9
}
.id{
  display: inline-block;
  position: absolute;
  top: -19px;
  left: 14px;
  padding: 10px;
  background: white;
  font-size: 14px;
  color: #888;
  font-weight: bold;
}
.login-input{
  width: 50%; 
  box-sizing: border-box;
  margin: 20px auto;
  position: relative;
}
.login-input label{
  vertical-align: -1px;
}
.login-input input{
    width: 100%;
    border: 1px solid #dddddd !important;
    font-size: 1rem;
    line-height: 1.45;
    letter-spacing: -0.04rem;
    border-radius: 8px;
    padding: 16px;
    margin-top: 12px;
}





div.regis-main{
	border-radius:7px;
	height:500px;
	box-shadow:rgba(173, 180, 189, 0.9) 0px 5px 15px 0px;
}
div.regis-main h2{
	padding:70px 0 30px 430px;
}
form#register_form label{
	padding:0 0 0 250px;
	height:37px;
}
form#register_form input[type="button"], form#register_form input[type="submit"]{
	width:90px;
	height:27px;
	border:none;
	border-radius:3px;
	background-color:#4B71DE;
	color:white;
	cursor:pointer;
}