@charset "UTF-8";

div.myContent-main{
	padding:10px 20px;
	margin:50px auto;
	padding:10px 20px;
	width:950px;
	border-radius:7px;
}
h2{
	font-size:25px;
	text-align: center;
	padding-top:60px;
	margin-bottom:20px;
}
#simple_form{
	height:600px;
	margin:5px 0 0 0;
	border:1px solid #E8E8E8;
}
/* 버튼 */
input[type="button"], input[type="submit"]{
	display:inline;
	width:100px;
	height:27px;
	border:none;
	border-radius:3px;
	background-color:#4B71DE;
	color:white;
	cursor:pointer;
    margin:auto;
    display:inline-block;
}

/* label */
label{
	width:100px;
}

/* float*/
/* myPage-first */
div.mypage-first{
	float:left; width:280px;
	height:500px;
	position:absolute;
	padding:50px 0 0 20px;
	/*border:1px solid red;*/
}
div.mypage-first ul{
	line-height:30px;
}
div.mypage-profile{
	padding:10px 0 0 0;
}
div.mypage-menu{
	padding:10px 0 0 0;
}
div.mypage-first .my-photo, .my-photo2{
	object-fit:cover; object-position:top;
	border-radius:50%;
	box-shadow:rgba(75, 113, 222, 0.9) 0px 5px 15px 0px;
	margin:0 0 30px 0;
}
/* myPage-second */
div.mypage-simple ul li.second_title{
	text-align:center;
}
li.profile-image{
	padding:5px 0 0 100px;
	margin:30px 0 10px 0;
}
li.profile-button{
	padding:0 0 0 20px;
	margin-bottom:10px;
}
div.mypage-second{
	float:right; width:65%;
	height:700px;
	position:relative;
	/*border:1px solid red;*/
}
div.mypage-like{
	padding:20px 0;
	font-size:18px;
	text-align:center;
	height:100px;
}
div.mypage-simple{
	padding:50px 0;
	line-height:35px;
	font-size:16px;
	height:600px;
	box-shadow:rgba(173, 180, 189, 0.9) 0px 5px 15px 0px;
}
.my-photo, .my-photo2{
	object-fit:cover; object-position:top;
	border-radius:50%;
	box-shadow:rgba(75, 113, 222, 0.9) 0px 5px 15px 0px;
}
div.mypage-simple li{
	line-height:40px;
}

ul li label{
	display:inline-block;
	width:110px;
	padding:0 0 0 110px;
}

/* 내정보 페이지 - first */

/* 내정보 페이지 - second */
.my-email{
  display: inline-block;
  position: absolute;
  width:50px;
  left: 14px;
  padding: 17px 10px 10px 40px;
  background: white;
  font-size: 14px;
  color: #888;
  font-weight: bold;
}
.email{
  display: inline-block;
  position: absolute;
  top: -19px;
  left: 14px;
  padding: 10px;
  background: white;
  font-size: 14px;
  color: #888;
  font-weight: bold;
}
.my-id{
  display: inline-block;
  position: absolute;
  width:60px;
  left: 14px;
  padding: 17px 10px 10px 40px;
  background: white;
  font-size: 14px;
  color: #888;
  font-weight: bold;
}
.id{
  display: inline-block;
  position: absolute;
  top: -19px;
  left: 14px;
  padding: 10px;
  background: white;
  font-size: 14px;
  color: #888;
  font-weight: bold;
}
.my-passwd{
  display: inline-block;
  position: absolute;
  width:80px;
  left: 14px;
  padding: 17px 10px 10px 40px;
  background: white;
  font-size: 14px;
  color: #888;
  font-weight: bold;
}
.passwd{
  display: inline-block;
  position: absolute;
  top: -19px;
  left: 14px;
  padding: 10px;
  background: white;
  font-size: 14px;
  color: #888;
  font-weight: bold;
}
.my-re_passwd{
  display: inline-block;
  position: absolute;
  width:120px;
  left: 14px;
  padding: 17px 10px 10px 90px;
  background: white;
  font-size: 14px;
  color: #888;
  font-weight: bold;
}
.re_passwd{
  display: inline-block;
  position: absolute;
  top: -19px;
  left: 14px;
  padding: 10px;
  background: white;
  font-size: 14px;
  color: #888;
  font-weight: bold;
}

.mypage-input{
  width: 50%; 
  box-sizing: border-box;
  margin: 20px auto;
  position: relative;
}
.mypage-input input{
    appearance: none;
    border-radius: 0;
    border: 0;
    outline: none;
    font-size: 10px;
}
.mypage-input input::placeholder, textarea::placeholder{
  color: #d9d9d9
}
.mypage-input label{
  vertical-align: -1px;
}
.mypage-input input{
    width: 100%;
    border: 1px solid #dddddd !important;
    font-size: 1rem;
    line-height: 1.1;
    letter-spacing: -0.04rem;
    border-radius: 8px;
    padding: 14px;
    margin-top: 30px;
}
.align-center{
	text-align: center;
}

/* 내 상세 정보 페이지 - second */
.detail-email{
  display: inline-block;
  position: absolute;
  width:60px;
  left: 14px;
  padding: 17px 10px 10px 40px;
  background: white;
  font-size: 14px;
  color: #888;
  font-weight: bold;
}
.email{
  display: inline-block;
  position: absolute;
  top: -19px;
  left: 14px;
  padding: 10px;
  background: white;
  font-size: 14px;
  color: #888;
  font-weight: bold;
}
.detail-name{
  display: inline-block;
  position: absolute;
  width:60px;
  left: 14px;
  padding: 17px 10px 10px 40px;
  background: white;
  font-size: 14px;
  color: #888;
  font-weight: bold;
}
.name{
  display: inline-block;
  position: absolute;
  top: -19px;
  left: 14px;
  padding: 10px;
  background: white;
  font-size: 14px;
  color: #888;
  font-weight: bold;
}
.detail-id{
  display: inline-block;
  position: absolute;
  width:60px;
  left: 14px;
  padding: 17px 10px 10px 40px;
  background: white;
  font-size: 14px;
  color: #888;
  font-weight: bold;
}
.id{
  display: inline-block;
  position: absolute;
  top: -19px;
  left: 14px;
  padding: 10px;
  background: white;
  font-size: 14px;
  color: #888;
  font-weight: bold;
}
.detail-passwd{
  display: inline-block;
  position: absolute;
  width:80px;
  left: 14px;
  padding: 17px 10px 10px 40px;
  background: white;
  font-size: 14px;
  color: #888;
  font-weight: bold;
}
.passwd{
  display: inline-block;
  position: absolute;
  top: -19px;
  left: 14px;
  padding: 10px;
  background: white;
  font-size: 14px;
  color: #888;
  font-weight: bold;
}
.my-re_passwd{
  display: inline-block;
  position: absolute;
  width:120px;
  left: 14px;
  padding: 17px 10px 10px 40px;
  background: white;
  font-size: 14px;
  color: #888;
  font-weight: bold;
}
.re_passwd{
  display: inline-block;
  position: absolute;
  top: -19px;
  left: 14px;
  padding: 10px;
  background: white;
  font-size: 14px;
  color: #888;
  font-weight: bold;
}
.detail-input{
  width: 50%; 
  box-sizing: border-box;
  margin: 20px auto;
  position: relative;
}
.detail-input input{
    appearance: none;
    border-radius: 0;
    border: 0;
    outline: none;
    font-size: 10px;
}
.detail-input input::placeholder, textarea::placeholder{
  color: #d9d9d9
}
.detail-input label{
  vertical-align: -1px;
}
.detail-input input{
    width: 100%;
    border: 1px solid #dddddd !important;
    font-size: 1rem;
    line-height: 1.1;
    letter-spacing: -0.04rem;
    border-radius: 8px;
    padding: 14px;
    margin-top: 30px;
}

/* 비밀번호 수정 페이지 */
.passwd-email{
  display: inline-block;
  position: absolute;
  width:60px;
  left: 14px;
  padding: 17px 10px 10px 40px;
  background: white;
  font-size: 14px;
  color: #888;
  font-weight: bold;
}
.email{
  display: inline-block;
  position: absolute;
  top: -19px;
  left: 14px;
  padding: 10px;
  background: white;
  font-size: 14px;
  color: #888;
  font-weight: bold;
}
.passwd-id{
  display: inline-block;
  position: absolute;
  width:60px;
  left: 14px;
  padding: 17px 10px 10px 40px;
  background: white;
  font-size: 14px;
  color: #888;
  font-weight: bold;
}
.id{
  display: inline-block;
  position: absolute;
  top: -19px;
  left: 14px;
  padding: 10px;
  background: white;
  font-size: 14px;
  color: #888;
  font-weight: bold;
}
.passwd-origin_passwd{
  display: inline-block;
  position: absolute;
  width:120px;
  left: 14px;
  padding: 17px 10px 10px 40px;
  background: white;
  font-size: 14px;
  color: #888;
  font-weight: bold;
}
.origin_passwd{
  display: inline-block;
  position: absolute;
  top: -19px;
  left: 14px;
  padding: 10px;
  background: white;
  font-size: 14px;
  color: #888;
  font-weight: bold;
}
.passwd-passwd{
  display: inline-block;
  position: absolute;
  width:100px;
  left: 14px;
  padding: 17px 10px 10px 40px;
  background: white;
  font-size: 14px;
  color: #888;
  font-weight: bold;
}
.passwd{
  display: inline-block;
  position: absolute;
  top: -19px;
  left: 14px;
  padding: 10px;
  background: white;
  font-size: 14px;
  color: #888;
  font-weight: bold;
}
.passwd-re_passwd{
  display: inline-block;
  position: absolute;
  width:120px;
  left: 14px;
  padding: 17px 10px 10px 40px;
  background: white;
  font-size: 14px;
  color: #888;
  font-weight: bold;
}
.re_passwd{
  display: inline-block;
  position: absolute;
  top: -19px;
  left: 14px;
  padding: 10px;
  background: white;
  font-size: 14px;
  color: #888;
  font-weight: bold;
}
.passwd-input{
  width: 50%; 
  box-sizing: border-box;
  margin: 20px auto;
  position: relative;
}
.passwd-input input{
    appearance: none;
    border-radius: 0;
    border: 0;
    outline: none;
    font-size: 10px;
}
.passwd-input input::placeholder, textarea::placeholder{
  color: #d9d9d9
}
.passwd-input label{
  vertical-align: -1px;
}
.passwd-input input{
    width: 100%;
    border: 1px solid #dddddd !important;
    font-size: 1rem;
    line-height: 1.1;
    letter-spacing: -0.04rem;
    border-radius: 8px;
    padding: 14px;
    margin-top: 30px;
}

/* 회원탈퇴 페이지 */
.unregis-id{
  display: inline-block;
  position: absolute;
  width:60px;
  left: 14px;
  padding: 17px 10px 10px 40px;
  background: white;
  font-size: 14px;
  color: #888;
  font-weight: bold;
}
.id{
  display: inline-block;
  position: absolute;
  top: -19px;
  left: 14px;
  padding: 10px;
  background: white;
  font-size: 14px;
  color: #888;
  font-weight: bold;
}
.unregis-passwd{
  display: inline-block;
  position: absolute;
  width:100px;
  left: 14px;
  padding: 17px 10px 10px 40px;
  background: white;
  font-size: 14px;
  color: #888;
  font-weight: bold;
}
.passwd{
  display: inline-block;
  position: absolute;
  top: -19px;
  left: 14px;
  padding: 10px;
  background: white;
  font-size: 14px;
  color: #888;
  font-weight: bold;
}
.unregis-input{
  width: 50%; 
  box-sizing: border-box;
  margin: 20px auto;
  position: relative;
}
.unregis-input input{
    appearance: none;
    border-radius: 0;
    border: 0;
    outline: none;
    font-size: 10px;
}
.unregis-input input::placeholder, textarea::placeholder{
  color: #d9d9d9
}
.unregis-input label{
  vertical-align: -1px;
}
.unregis-input input{
    width: 100%;
    border: 1px solid #dddddd !important;
    font-size: 1rem;
    line-height: 1.1;
    letter-spacing: -0.04rem;
    border-radius: 8px;
    padding: 14px;
    margin-top: 30px;
}

/*추가 li button submit */
.detail-button{
	padding-left: 150px;	
}
.detail-button ul{
  	display:inline;	
}
.detail-button li{
	width: 150px;
	display: inline-block;
}
.detail-button input{
    width: 100%;
    border: 1px solid #dddddd !important;
    font-size: 1rem;
    line-height: 1.1;
    letter-spacing: -0.04rem;
    border-radius: 8px;
    margin-top: 30px;
}
/*modifyMyInfoDetailForm*/
.profile-md-button{
	padding-left : 180px;
}
.profile-md-button ul{
  	display:inline;
}
.profile-md-button li{
	width: 130px;
	display: inline-block;
}
.profile-md-button input{
    width: 100%;
    border: 1px solid #dddddd !important;
    font-size: 1rem;
    line-height: 1.1;
    letter-spacing: -0.04rem;
    border-radius: 8px;
    margin-top: 30px;
}
/* detail-sbtn */
.detail-sbtn{
	padding-left : 160px;
}
.detail-sbtn ul{
  	display:inline;
}
.detail-sbtn li{
	width: 150px;
	display: inline-block;
}
.detail-sbtn input{
    width: 100%;
    border: 1px solid #dddddd !important;
    font-size: 1rem;
    line-height: 1.1;
    letter-spacing: -0.04rem;
    border-radius: 8px;
    margin-top: 30px;
}
/* detail-sbtn 종료*/

/* passwd-btn */
.passwd-btn{
	padding-left : 160px;
}
.passwd-btn ul{
  	display:inline;
}
.passwd-btn li{
	width: 140px;
	display: inline-block;
}
.passwd-btn input{
    width: 100%;
    border: 1px solid #dddddd !important;
    font-size: 1rem;
    line-height: 1.1;
    letter-spacing: -0.04rem;
    border-radius: 8px;
    margin-top: 30px;
}
/* passwd-btn 종료*/
/* delete-btn */
.delete-btn{
	padding-left : 160px;
	  display:inline;
}

.delete-btn li{
	width: 140px;
	display: inline-block;
}
.delete-btn input{
    width: 100%;
    border: 1px solid #dddddd !important;
    font-size: 1rem;
    line-height: 1.1;
    letter-spacing: -0.04rem;
    border-radius: 8px;
    margin-top: 30px;
    margin-left: 160px;
}
/* detail-btn 종료*/

/* delete-btn */
.delete-btn{
	padding-left : 160px;
	  display:inline;
}

.delete-btn li{
	width: 140px;
	display: inline-block;
}
.delete-btn input{
    width: 100%;
    border: 1px solid #dddddd !important;
    font-size: 1rem;
    line-height: 1.1;
    letter-spacing: -0.04rem;
    border-radius: 8px;
    margin-top: 30px;
    margin-left: 160px;
}
/* detail-btn 종료*/
