@charset "UTF-8";

/* 전체 레이아웃
-----------------------*/
body{
	margin:0 auto;
}
a:link{
	text-decoration:none;
	color:#000000;
}
a:visited{
	text-decoration:none;
	color:#000000;
}
a:hover{
	text-decoration:none;
	color:#6C6C6C;
}

/* 페이지 레이아웃
-----------------------*/
.ntpage-main{
	background:#FFFFFF;
	margin:40px 0;
	min-height:650px;
}
.ntcontent-main{
	margin:0 auto;
	padding:10px 20px;
	width:1280px;
}
.noticeboard-title{
	text-align:center;
	padding:20px 0 0 0;
}
.noticeboard-subtitle{
	text-align:center;
	padding:12px 0 0 0;
}
.align-center{
	text-align:center;
}
.align-right{
	text-align:right;
}

/* 공지 리스트 박스
-----------------------*/
.notice-emptybox{
	width:950px;
	height:170px;
	margin:25px auto;
	padding:10px 20px;
	vertical-align:middle;
	text-align:center;
	line-height:120px;
}
.notice-box{
	width:950px;
	height:170px;
	margin:25px auto;
	padding:10px 20px;
	vertical-align:middle;
	border:1px solid #E8E8E8;
	border-radius:7px;
}
.notice-imagebox img{
	padding:10px;
	float:right;
	width:270px;
	height:150px;
}
.vertical-center{
	vertical-align:middle;
}
.noti-pre{
	padding:15px 20px;
	display:block;
	float:left;
}
.noti-text{
	display:inline-block;
}
/* 공지 리스트 세부 구성
-----------------------*/
ul li{
	display:inline-block;
}
.page-number{
	text-align:center;
	padding:10px 0;
}
#ntsearch_form{
	text-align:center;
}
.ntsc1{
	padding:3px;
	width:70px;
	height:28px;
	border:1px solid #bababa;
	border-radius:7px;
}
.ntsc2{
	padding:3px;
	width:150px;
	height:28px;
	border:1px solid #bababa;
	border-radius:7px;
}
.ntsc3{
	padding:3px;
	width:65px;
	height:28px;
	border:none;
	border-radius:7px;
	background-color:#4B71DE;
	color:white;
	cursor:pointer;
}

input[type="button"]{
	width:65px;
	height:30px;
	border:none;
	border-radius:7px;
	background-color:#4B71DE;
	color:white;
	cursor:pointer;
}
input.ntsc2:focus{
	outline:none;
	border:1px solid #737373;
}
select:focus{
	outline:none;
	border:1px solid #737373;
}

.ntdetail-main{
	margin:50px auto;
	padding:10px 20px;
	width:950px;
	border:1px solid #E8E8E8;
	border-radius:7px;
}
.detail-padding1{
	padding:10px 39px;
}
.detail-padding2{
	padding:30px 39px 10px 39px;
}