@charset "UTF-8";
/* 구글 폰트 가져오기*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');

/* 전체 레이아웃 */ 
* {
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: 'Noto Sans KR';
	font-style: normal;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	outline: none;
}
header a, a:visited, a:hover, a:active{
	color: #626262;
}
header .logo{
	color: #4B71DE;
}
div.clear-both{
	clear:both;
}
/* 공통 */
.align-center{
	text-align:center;
}
.align-right{
	text-align:right;
}
input[type="button"], input[type="submit"]{
	width:60px;
	height:27px;
	border:none;
	border-radius:3px;
	background-color:#4B71DE;
	color:white;
	cursor:pointer;
}
div#photo_choice input[type="file"]{
	width:200px;
}
div#photo_choice input[type="button"]{
	width:100px;
}

/* header 시작 */
div.header{
	height:110px;
}
header .logo{
	font-family:'Orelega One';
	font-size:70px;
	padding:40px 0px 20px 240px;
	float:left; width:18%;
}
header .logo a{
	color: #4B71DE;
}
div.header ul{
	text-align:center; display:inline-block;
	margin:0; padding:0;
}
span#main_menu ul li{
	float:left; width:115px;
	font-size:25px; font-weight:700;
	padding:70px 0 0 0; margin-left:30px;
}
span#search_menu ul li{
	float:left;
	font-size:25px; 
	padding:60px 20px 0 0; margin-left:130px;
}
span#login_menu ul{
	margin-top:40px;
	margin-left:110px;
}
span#login_menu ul li{
	float:left; width:80px;
	font-size:25px; font-weight:700;
}
span#login_menu ul li a{
	font-size:18px;
	color:#6C6C6C;
}
span#login_menu ul li a:hover{
	color:#000000;
}
header #search_item{
	width:210px; height:32px;
	background:rgba(0, 0, 0, 0.04);
	border:2px solid #4B71DE;
	border-radius:5px;
}
header #search_item_button{
	height:32px;
	background:#4B71DE;
	border-radius:5px;
}
input#search_item{
	background-image:url('../images/searchicon.png');
	background-repeat:no-repeat;
    background-size:16px;
    background-position:170px center;
}

/* sub-menu */
div.requestboard-title{
	height:130px;
	text-align:center;
	padding:30px 0 0 0;
	font-size:15px;
}
div.sub-header ul{
	text-align:center;
	margin:0; padding:0 0 5px 0;
}
div.sub-header ul li{
	display:inline-block;
	border-left:1px solid #999; /* 각 메뉴의 왼쪽에 "|" 표시(분류 표시) */
	padding:0 100px;
	font-style:normal; font-weight:500; font-size:19px;
	line-height:130%;
}
div.sub-header ul li:first-child{
	border-left:none; /* 메뉴 분류중 제일 왼쪽의 "|"는 삭제 */
}
div.sub-header ul li a{
	text-decoration:none;
	color:#6C6C6C;
}
div.sub-header ul li a:hover{
	color:#000000;
}

/* 페이지 레이아웃 */
.page-main{
	background:#FFFFFF;
	margin:20px auto;
}
.content-main{
	padding:10px 20px;
	margin:50px auto;
	padding:10px 20px;
	width:950px;
	border:1px solid #E8E8E8;
	border-radius:7px;
}
/* 페이지 제목 */
span.halfline{
	font-size:30px;
	margin-bottom:20px;
	background:linear-gradient(to top,#A0FAF0 30%,transparent 50%);
}

/* 댓글 등록, 수정 폼 */
form#comm_form{
	width:745px;
	margin:0 auto; padding:0 10px 10px 30px;
}
form#comm_form div#comm_first{
	float:right; padding:10px 0 10px 10px;
}
form#comm_form div#comm_second{
	float:right; padding:10px 20px 10px 10px;
}
div#commentList_div{
	padding:30px 0 0 0;
}
form#mcomm_form{
	width:530px;
}
form#mcomm_form div#mcomm_first{
	float:right; padding:10px 0 10px 10px;
}
form#mcomm_form div#mcomm_second{
	float:right; padding:10px 25px 10px 10px;
}

/* 펀딩토크 */
form#cheerComm_form{
	width:700px;
	margin:0 auto; padding:30px 10px 70px 30px;
}
form#cheerComm_form div#cheerComm_first{
	float:right; padding:10px 0 10px 10px;
}
form#cheerComm_form div#cheerComm_second{
	float:right; padding:10px 150px 10px 10px;
}
form#mcheerComm_form{
	width:530px;
}
form#mcheerComm_form div#mcheerComm_first{
	float:right; padding:10px 0 10px 10px;
}
form#mcheerComm_form div#mcheerComm_second{
	float:right; padding:10px 25px 10px 10px;
}