@charset "UTF-8";
/* 구글 폰트 가져오기*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');

/* 전체 레이아웃 */
body{
	margin:0 auto;
	box-sizing: border-box; /* 박스 크기의 기준 : 테두리 */
	position: relative;
	width: 1440px; height: 1024px;
	/* background: #C8C8C8; 색상 흰색으로 변경해야함 */
	font-family:'Noto Sans KR';
}
ul{
    list-style:none;
}
a{
	text-decoration:none;
	outline:none;
}
a:link{
	text-decoration:none;
	color:#000000;
}
a:visited{
	text-decoration:none;
	color:#000000;
}
a:hover{
	text-decoration:none;
	color:#6C6C6C;
}
div.clear-both{
	clear:both;
}
/* 공통 */
.align-center{
	text-align:center;
}
.align-right{
	text-align:right;
}
input[type="button"], input[type="submit"], input[type="file"]{
	width:60px;
	height:27px;
	border:none;
	border-radius:3px;
	background-color:#4B71DE;
	color:white;
	cursor:pointer;
}

/* header 시작 */
header{
	height:110px;
}
header .logo{
	width:286px;
	height:44px;
	top:10px;
	padding-left:50px;

	font-family:'Orelega One';
	font-style:normal;
	font-weight:400;
	font-size:70px;
	line-height:130%;
	color: #4B71DE;
}
header .logo a{
	color: #4B71DE;
}
header ul{
	float:left;
}
header ul li{
	position:absolute;
	width:137px;
	height:92px;
	top:35px;
	
	font-family:'Noto Sans KR';
	font-style:normal;
	font-weight:700;
	font-size:26px;
	line-height:130%;
}
header ul .noti{
	left:350px;
}
header ul .fund{
	left:530px;
}
header ul .req{
	left:710px;
}
header #search_item{
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 8px 16px;
	gap: 8px;

	position: absolute;
	width:280px;
	height:40px;
	left: 850px;

	background: rgba(0, 0, 0, 0.04);
	border: 2px solid #4B71DE;
	border-radius: 8px;
}
header #search_item_button{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 8px 16px;
	gap: 8px;

	position: absolute;
	width:81px;
	height:40px;
	left: 1150px;

	background: #4B71DE;
	border-radius: 8px;
}
header .mem_join, .myPage .managePage{
	position: absolute;
	width: 137px;
	height: 44px;
	left: 1300px;
	top: 35px;

	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 130%;
}
header .signin, .logout{
	position: absolute;
	width: 137px;
	height: 44px;
	left: 1400px;
	top: 35px;

	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 130%;
}

/* header - title */
div.requestboard-title{
	text-align:center;
	padding:25px 0 0 0;
	height:111.5px;
}

/* sub-menu */
div.sub-header ul{
	text-align:center;
	margin:0; padding:0 0 5px 0;
}
div.sub-header ul li{
	display:inline-block;
	border-left:1px solid #999; /* 각 메뉴의 왼쪽에 "|" 표시(분류 표시) */
	padding:0 100px;
	font-style:normal; font-weight:500; font-size:19px;
	line-height:130%;
}
div.sub-header ul li:first-child{
	border-left:none; /* 메뉴 분류중 제일 왼쪽의 "|"는 삭제 */
}
div.sub-header ul li a{
	text-decoration:none;
	color:#6C6C6C;
}
div.sub-header ul li a:hover{
	color:#000000;
}

/* 페이지 레이아웃 */
.page-main{
	background:#FFFFFF;
	margin:20px auto;
	min-height:650px;
}
.content-main{
	padding:10px 20px;
	
	margin:50px auto;
	padding:10px 20px;
	width:950px;
	border:1px solid #E8E8E8;
	border-radius:7px;
}

/* 댓글 등록, 수정 폼 */
form#comm_form{
	width:745px;
	margin:0 auto; padding:0 10px 10px 30px;
}
form#comm_form div#comm_first{
	float:right; padding:10px 0 10px 10px;
}
form#comm_form div#comm_second{
	float:right; padding:10px 20px 10px 10px;
}
div#commentList_div{
	padding:30px 0 0 0;
}
form#mcomm_form{
	width:530px;
}
form#mcomm_form div#mcomm_first{
	float:right; padding:10px 0 10px 10px;
}
form#mcomm_form div#mcomm_second{
	float:right; padding:10px 25px 10px 10px;
}

/* 이야기 한마당 */
form#cheerComm_form{
	width:700px;
	margin:0 auto; padding:30px 10px 70px 30px;
}
form#cheerComm_form div#cheerComm_first{
	float:right; padding:10px 0 10px 10px;
}
form#cheerComm_form div#cheerComm_second{
	float:right; padding:10px 150px 10px 10px;
}
form#mcheerComm_form{
	width:530px;
}
form#mcheerComm_form div#mcheerComm_first{
	float:right; padding:10px 0 10px 10px;
}
form#mcheerComm_form div#mcheerComm_second{
	float:right; padding:10px 25px 10px 10px;
}