@charset "UTF-8";
/*구글 폰트 import 시작*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');
/*구글 폰트 import 끝*/

* {
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: 'Noto Sans KR';
	font-style: normal;
	
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	outline: none;
}
header a, a:visited, a:hover, a:active{
	color: #626262;
}
header .logo{
	color: #4B71DE;
}

/* 헤더 시작*/
.container {
	width:1440px;
	margin:0 auto;
}
header {
	width:100%;
	height:80px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
header > h1 {
	margin-left:20px;
	font-family: 'Orelega One';
	font-style: normal;
	font-size: 48px;
	line-height: 130%;
	color: #4B71DE;
}

header > h1 a, h1 a:visited, h1 a:hover, h1 a:active {
	color: #4B71DE;	
}
header > nav {
	width:600px;
	height:100%;
}

header ul {
	width:100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
}

header ul > li {
	height: 100%;
	display: flex;
	padding: 20px;
	align-items: center;
	
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 130%;
}
header ul > li.req {

	padding-right: 600px;

}
header ul > li.logout, li.signin{

	padding-right: 70px;

}
/* 헤더 끝*/
/*슬라이드 쇼 시작*/
.slideshow-container {
	
  position: block;
  margin: auto;
}

/* 캡션 text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* (1/3) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* dot */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* 애니메이션 페딩 */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
/* 슬라이드 쇼 끝 */
